* {
    font-family: 'Macondo', cursive;
}

body {
    background: url("parchment/perg3.jpeg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.botoSeguent {
    display: none;
}

.questionari {
    position: absolute;
    display: none;
    margin-left: 30%;
    margin-top: 50px;
    text-align: center;
}

.questionari2 {
    background: url("../Content/fonspreguntes1.png");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
    border: 4px solid black;
    border-radius: 25px;
}

#game {
    border-radius: 25px;
}

.navbar {
    background-color: white !important;
}

.midaLLetraInici {
    font-size: 40px !important;
}

.botoTancar {
    margin-top: 7.5px;
    border: none;
}

.botoTancar:hover {
    border: none;
    background-color: white;
}

.quizSubmit {    
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.loginVideo {
    background: url("parchment/perg3.jpeg")no-repeat center center fixed;
    border: none;
}

.panel-heading {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none;
}

#loading {
    display: none;
    margin: 100px auto;
    width: 100%;
    height: 100%;
    background: url('../img/hourglass.gif') no-repeat center center;
}
